<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.fintecher.supply.finance.loan.manager.core.audit.dao.AuditTaskDao">

     <resultMap type="cn.fintecher.supply.finance.loan.manager.common.audit.entity.AuditTaskEntity" id="taskMap">
        <result property="pid" column="pid"/>
        <result property="orderInfoId" column="order_info_id"/>
        <result property="owerId" column="ower_id"/>
        <result property="node" column="node"/>
        <result property="type" column="type"/>
        <result property="createBy" column="create_by"/>
        <result property="createAt" column="create_at"/>
        <result property="updateAt" column="update_at"/>
        <result property="updateBy" column="update_by"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
    </resultMap>
    
	<sql id="task_find_List">
		pid as pid,		order_info_id as orderInfoId,		ower_id as owerId,		node as node,		type as type,		create_by as createBy,		create_at as createAt,		update_at as updateAt,		update_by as updateBy,		status as status,		remark as remark	</sql>
	
	<sql id="task_find_where">
		<where>
			<if test="pid != null" >
		      	AND pid = #{pid}
		    </if>
			<if test="orderInfoId != null" >
		      	AND order_info_id = #{orderInfoId}
		    </if>
			<if test="owerId != null" >
		      	AND ower_id = #{owerId}
		    </if>
			<if test="node != null" >
		      	AND node = #{node}
		    </if>
			<if test="type != null" >
		      	AND type = #{type}
		    </if>
			<if test="createBy != null" >
		      	AND create_by = #{createBy}
		    </if>
			<if test="createAt != null" >
		      	AND create_at = #{createAt}
		    </if>
			<if test="updateAt != null" >
		      	AND update_at = #{updateAt}
		    </if>
			<if test="updateBy != null" >
		      	AND update_by = #{updateBy}
		    </if>
			<if test="status != null" >
		      	AND status = #{status}
		    </if>
			<if test="remark != null" >
		      	AND remark = #{remark}
		    </if>
	    </where>
	 </sql>
	 
	<insert id="insertTask" parameterType="cn.fintecher.supply.finance.loan.manager.common.audit.entity.AuditTaskEntity"  useGeneratedKeys="true" keyProperty="pid">
	    insert into audit_task (pid,order_info_id,ower_id,node,type,create_by,create_at,update_at,update_by,status,remark)
	    values (#{pid},#{orderInfoId},#{owerId},#{node},#{type},#{createBy},#{createAt},#{updateAt},#{updateBy},#{status},#{remark})
	</insert>
	
	<select id="selectByTask" parameterType="cn.fintecher.supply.finance.loan.manager.common.audit.entity.AuditTaskEntity" 
	  	resultType = "cn.fintecher.supply.finance.loan.manager.common.audit.entity.AuditTaskEntity">
	  	select
	    	<include refid="task_find_List" />
	    from audit_task
	    	<include refid="task_find_where" />
	 </select>
	 
	 <select id="queryTaskByPid" resultType = "cn.fintecher.supply.finance.loan.manager.common.audit.entity.AuditTaskEntity">
	  	select
	    	<include refid="task_find_List" />
	    from audit_task where pid = #{pid}
	 </select>
	 
	<update id="updateTask" parameterType="cn.fintecher.supply.finance.loan.manager.common.audit.entity.AuditTaskEntity" >
    	update audit_task
	    	<set >
				<if test="orderInfoId != null" >
			      	 order_info_id = #{orderInfoId},
			    </if>
				<if test="owerId != null" >
			      	 ower_id = #{owerId},
			    </if>
				<if test="node != null" >
			      	 node = #{node},
			    </if>
				<if test="type != null" >
			      	 type = #{type},
			    </if>
				<if test="createBy != null" >
			      	 create_by = #{createBy},
			    </if>
				<if test="createAt != null" >
			      	 create_at = #{createAt},
			    </if>
				<if test="updateAt != null" >
			      	 update_at = #{updateAt},
			    </if>
				<if test="updateBy != null" >
			      	 update_by = #{updateBy},
			    </if>
				<if test="status != null" >
			      	 status = #{status},
			    </if>
				<if test="remark != null" >
			      	 remark = #{remark},
			    </if>
		    </set>
		    where pid = #{pid}
	</update>
	
<!--  ******************以上为自动生成sql语句 ******************  -->
	<select id="countConfirmingTaskWaitNum" resultType="int">
		SELECT COUNT(pid) FROM audit_task WHERE type = "3" AND `status` ="NOL" AND node = #{node} AND ower_id = #{userId}
	</select>

	<select id="confirmingApprovalList" resultType="cn.fintecher.supply.finance.loan.manager.common.confirming.response.ConfirmingStockInfoListResponse">
		SELECT t3.*,
			t4.name as companyName,
			t5.name as companyDealerName,
			t6.name as productName,
			t6.product_no as productNO,
			t2.apply_first_state as applyFirstState,
			t2.apply_rehear_state as applyRehearState,
			t2.apply_final_state as applyFinalState,
			t2.apply_first_time as applyFirstTime,
			t2.apply_rehear_time as applyRehearTime,
			t2.apply_final_time as applyFinalTime,
			t1.pid as taskId
		FROM audit_task t1
		LEFT JOIN apply_stock_info t2 ON t1.order_info_id = t2.pid
		LEFT JOIN confirming_stock_info t3 ON t2.pledge_id = t3.pid
		LEFT JOIN company_enterprise t4 on t3.company_id = t4.pid
		LEFT JOIN company_enterprise t5 on t3.company_dealer_id = t5.pid
		LEFT JOIN pro_product t6 on t3.pro_product_id = t6.pid
		<include refid="confirmingApproval_page_find_where"/>
		limit #{startIndex},#{pageSize}
	</select>

	<select id="countConfirmingApprovalList" resultType="int">
		SELECT COUNT(t1.pid) FROM audit_task t1
		LEFT JOIN apply_stock_info t2 ON t1.order_info_id = t2.pid
		LEFT JOIN confirming_stock_info t3 ON t2.pledge_id = t3.pid
		LEFT JOIN company_enterprise t4 on t3.company_id = t4.pid
		LEFT JOIN company_enterprise t5 on t3.company_dealer_id = t5.pid
		LEFT JOIN pro_product t6 on t3.pro_product_id = t6.pid
		<include refid="confirmingApproval_page_find_where"/>
	</select>

	<sql id="confirmingApproval_page_find_where">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			AND t1.type = '3'
			<if test="node != null and node !='' ">
				AND t1.node = #{node}
			</if>
			<if test="companyName != null and companyName !='' ">
				AND t4.name like CONCAT("%",#{companyName},"%")
			</if>
			<if test="companyDealerName != null and companyDealerName !='' ">
				AND t5.name like CONCAT("%",#{companyDealerName},"%")
			</if>
			<if test="bussineNo !=null and bussineNo!=''">
				AND t3.bussine_no like CONCAT("%",#{bussineNo},"%")
			</if>
			<if test="applyFirstState !=null and applyFirstState!=''">
				AND t2.apply_first_state = #{applyFirstState}
			</if>
			<if test="applyFirstTimeStart !=null and applyFirstTimeStart!=''">
				AND t2.apply_first_time >= #{applyFirstTimeStart}
			</if>
			<if test="applyFirstTimeEnd !=null and applyFirstTimeEnd!=''">
				AND t2.apply_first_time &lt;= #{applyFirstTimeEnd}
			</if>
			<if test="applyRehearState !=null and applyRehearState!=''">
				AND t2.apply_rehear_state = #{applyRehearState}
			</if>
			<if test="applyRehearTimeStart !=null and applyRehearTimeStart!=''">
				AND t2.apply_rehear_time >= #{applyRehearTimeStart}
			</if>
			<if test="applyRehearTimeTimeEnd !=null and applyRehearTimeTimeEnd!=''">
				AND t2.apply_rehear_time &lt;= #{applyRehearTimeTimeEnd}
			</if>
			<if test="applyFinalState !=null and applyFinalState!=''">
				AND t2.apply_final_state = #{applyFinalState}
			</if>
			<if test="applyFinalTimeStart !=null and applyFinalTimeStart!=''">
				AND t2.apply_final_time >= #{applyFinalTimeStart}
			</if>
			<if test="applyFinalTimeEnd !=null and applyFinalTimeEnd!=''">
				AND t2.apply_final_time &lt;= #{applyFinalTimeEnd}
			</if>
			<if test="currentUserId !=null and currentUserId!=''">
				AND t1.ower_id = #{currentUserId}
			</if>
		</trim>
	</sql>

</mapper>