<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.fintecher.supply.finance.loan.manager.core.audit.dao.AuditTaskEntryDao">

    <resultMap type="cn.fintecher.supply.finance.loan.manager.common.audit.entity.AuditTaskEntryEntity" id="taskEntryMap">
        <result property="pid" column="pid"/>
        <result property="repaymentTime" column="repayment_time"/>
        <result property="repaymentPrice" column="repayment_price"/>
        <result property="account" column="account"/>
        <result property="accountType" column="account_type"/>
        <result property="resourceId" column="resource_id"/>
        <result property="objectId" column="object_id"/>
        <result property="objectType" column="object_type"/>
        <result property="state" column="state"/>
        <result property="type" column="type"/>
        <result property="orderInfoId" column="order_info_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createAt" column="create_at"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateAt" column="update_at"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
    </resultMap>
    
	<sql id="taskEntry_find_List">
		pid as pid,		repayment_time as repaymentTime,		repayment_price as repaymentPrice,		account as account,	account_type as accountType,	resource_id as resourceId,		object_id as objectId,		object_type as objectType,		state as state,		type as type,		order_info_id as orderInfoId,		create_by as createBy,		create_at as createAt,		update_by as updateBy,		update_at as updateAt,		status as status,		remark as remark	</sql>
	
	<sql id="taskEntry_find_where">
		<where>
			<if test="pid != null" >
		      	AND pid = #{pid}
		    </if>
			<if test="repaymentTime != null" >
		      	AND repayment_time = #{repaymentTime}
		    </if>
			<if test="repaymentPrice != null" >
		      	AND repayment_price = #{repaymentPrice}
		    </if>
			<if test="account != null" >
		      	AND account = #{account}
		    </if>
			<if test="accountType != null" >
		      	AND account_type = #{accountType}
		    </if>
			<if test="resourceId != null" >
		      	AND resource_id = #{resourceId}
		    </if>
			<if test="objectId != null" >
		      	AND object_id = #{objectId}
		    </if>
			<if test="objectType != null" >
		      	AND object_type = #{objectType}
		    </if>
			<if test="state != null" >
		      	AND state = #{state}
		    </if>
			<if test="type != null" >
		      	AND type = #{type}
		    </if>
			<if test="orderInfoId != null" >
		      	AND order_info_id = #{orderInfoId}
		    </if>
			<if test="createBy != null" >
		      	AND create_by = #{createBy}
		    </if>
			<if test="createAt != null" >
		      	AND create_at = #{createAt}
		    </if>
			<if test="updateBy != null" >
		      	AND update_by = #{updateBy}
		    </if>
			<if test="updateAt != null" >
		      	AND update_at = #{updateAt}
		    </if>
			<if test="status != null" >
		      	AND status = #{status}
		    </if>
			<if test="remark != null" >
		      	AND remark = #{remark}
		    </if>
	    </where>
	 </sql>
	 
	<insert id="insertTaskEntry" parameterType="cn.fintecher.supply.finance.loan.manager.common.audit.entity.AuditTaskEntryEntity"  useGeneratedKeys="true" keyProperty="pid">
	    insert into audit_task_entry (pid,repayment_time,repayment_price,account,account_type,resource_id,object_id,object_type,state,type,order_info_id,create_by,create_at,update_by,update_at,status,remark)
	    values (#{pid},#{repaymentTime},#{repaymentPrice},#{account},#{accountType},#{resourceId},#{objectId},#{objectType},#{state},#{type},#{orderInfoId},#{createBy},#{createAt},#{updateBy},#{updateAt},#{status},#{remark})
	</insert>
	
	<select id="selectByTaskEntry" parameterType="cn.fintecher.supply.finance.loan.manager.common.audit.entity.AuditTaskEntryEntity" 
	  	resultType = "cn.fintecher.supply.finance.loan.manager.common.audit.entity.AuditTaskEntryEntity">
	  	select
	    	<include refid="taskEntry_find_List" />
	    from audit_task_entry
	    	<include refid="taskEntry_find_where" />
	 </select>
	 
	 <select id="queryTaskEntryByPid" resultType = "cn.fintecher.supply.finance.loan.manager.common.audit.entity.AuditTaskEntryEntity">
	  	select
	    	<include refid="taskEntry_find_List" />
	    from audit_task_entry where pid = #{pid}
	 </select>
	 
	<update id="updateTaskEntry" parameterType="cn.fintecher.supply.finance.loan.manager.common.audit.entity.AuditTaskEntryEntity" >
    	update audit_task_entry
	    	<set >
				<if test="repaymentTime != null" >
			      	 repayment_time = #{repaymentTime},
			    </if>
				<if test="repaymentPrice != null" >
			      	 repayment_price = #{repaymentPrice},
			    </if>
				<if test="account != null" >
			      	 account = #{account},
			    </if>
				<if test="accountType != null" >
					account_type = #{accountType},
			    </if>
				<if test="resourceId != null" >
			      	 resource_id = #{resourceId},
			    </if>
				<if test="objectId != null" >
			      	 object_id = #{objectId},
			    </if>
				<if test="objectType != null" >
			      	 object_type = #{objectType},
			    </if>
				<if test="state != null" >
			      	 state = #{state},
			    </if>
				<if test="type != null" >
			      	 type = #{type},
			    </if>
				<if test="orderInfoId != null" >
			      	 order_info_id = #{orderInfoId},
			    </if>
				<if test="createBy != null" >
			      	 create_by = #{createBy},
			    </if>
				<if test="createAt != null" >
			      	 create_at = #{createAt},
			    </if>
				<if test="updateBy != null" >
			      	 update_by = #{updateBy},
			    </if>
				<if test="updateAt != null" >
			      	 update_at = #{updateAt},
			    </if>
				<if test="status != null" >
			      	 status = #{status},
			    </if>
				<if test="remark != null" >
			      	 remark = #{remark},
			    </if>
		    </set>
		    where pid = #{pid}
	</update>


	<sql id="search_Audit_Entry">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test=" 1 != 0">
				and status = 'NOL'
			</if>
			<if test="orderId != null and orderId !=''">
				AND order_info_id = #{orderId}
			</if>
		</trim>
	</sql>

	<select id="searchTaskEntryListCount"
			parameterType="cn.fintecher.supply.finance.loan.manager.common.audit.request.AuditEntryForm"
			resultType="int">
		SELECT count(*) from audit_task_entry
		<include refid="search_Audit_Entry"/>
	</select>

	<select id="searchTaskEntryList"
			parameterType="cn.fintecher.supply.finance.loan.manager.common.audit.request.AuditEntryForm"
			resultType="cn.fintecher.supply.finance.loan.manager.common.audit.entity.AuditTaskEntryEntity">
		SELECT <include refid="taskEntry_find_List" />
		from audit_task_entry
		<include refid="search_Audit_Entry"/> order by create_at ASC
		limit #{startIndex},#{pageSize}
	</select>



	<select id="queryPaymentCountByOrderInfoId" resultType="int">
		SELECT sum(repayment_price) FROM audit_task_entry where order_info_id = #{orderInfoId} AND `status` = 'NOL' AND state = '1'
	</select>


	<select id="searchSumOfRepaymentPrice" resultType="java.lang.Double">
		SELECT sum(repayment_price) FROM audit_task_entry where order_info_id = #{orderInfoId} AND `status` = 'NOL' AND state = '1'
	</select>

	<select id="searchSumOfRepaymentPriceByState" resultType="java.lang.Double">
		SELECT sum(repayment_price) FROM audit_task_entry where order_info_id = #{orderInfoId} AND `status` = 'NOL' AND state = '0'
	</select>


	<select id="searchTaskEntityByOrderId" resultType="cn.fintecher.supply.finance.loan.manager.common.audit.entity.AuditTaskEntryEntity">
		SELECT * FROM audit_task_entry where order_info_id = #{orderInfoId}  order by state = '0' DESC , create_at ASC
	</select>
	
	<select id="searchMarginDetail" parameterType="cn.fintecher.supply.finance.loan.manager.common.form.SearchMarginDetailForm" 
	  	resultType = "cn.fintecher.supply.finance.loan.manager.common.response.MarginDetailResponse">
	  	select ate.repayment_time as repaymentTime,ate.repayment_price as repaymentPrice,bf.full_path as fullPath
	    from audit_task_entry ate LEFT JOIN business_file bf ON ate.resource_id = bf.pid
	    	<include refid="taskEntry_find_where" />
	 </select>
	 
</mapper>



















